<!DOCTYPE HTML>
<html>

    {{{header}}}
    
    <!-- Banner -->
    <section id="banner">
        <h2>{{title}}</h2>
        <p>Lyric Word Frequencies</p>
        <p>Drop in a URL from that big metropolitan lyrics website.</p>
        <ul class="actions">
            <li>
                <form action="/freq">
                    <input type="text" name="link" class="box" value="{{{linkPreload}}}"><br>
                    <input type="submit" value="{{buttontext}}" class="button special">
                </form>
            </li>
        </ul>
    </section>
    
    <body>
        <!-- Content -->
        <section id="one" class="wrapper special">
            <header class="major">
                <h2>{{lyricsTitle}}</h2>
            </header>
            <div class="inner">
                <div class="features">
                    <div class="feature">
                        <h3>Lyric Word Frequency</h3>
                        <h4>{{freqCount}} distinct words</h4>
						<table>
							{{{freqRows}}}
						</table>
                    </div>
                    <div class="feature">
                        <h3>Lyrics</h3>
                        {{{lyrics}}}
                    </div>
                </div>
            </div>
        </section>
    </body>
    
    {{{footer}}}
    
</html>