<!DOCTYPE HTML>
<html>

    {{{header}}}
    
    <!-- Banner -->
    <section id="banner">
        <h2>{{title}}</h2>
        <p>Lyric Word Frequencies</p>
        <p>Drop in a URL from that big metropolitan lyrics website.</p>
        <ul class="select-wrapper">
            <li>
                <form action="/freq">
                    <input type="text" name="link" class="textarea" value="{{{linkPreload}}}"><br>
                    <input type="submit" value="{{buttontext}}" class="button special">
                </form>
            </li>
        </ul>
    </section>
    
    <body>
        <!-- Content -->
        <section id="one" class="wrapper special">

        </section>
    </body>
    
    {{{footer}}}
    
</html>